---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=OEAALh9btOyDp5UyrRY5Lk6qdsJMZaXq&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 13 Jun 2022 02:00:39 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=OEAALh9btOyDp5UyrRY5Lk6qdsJMZaXq&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=717594182"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=OEAALh9btOyDp5UyrRY5Lk6qdsJMZaXq&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=163072575"}]}]}'
  recorded_at: Mon, 13 Jun 2022 02:00:39 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ac7dd56b297de621d02078abaf70f4c1&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655085580,"sunrise":1655033490,"sunset":1655087299,"temp":82.58,"feels_like":80.74,"pressure":1000,"humidity":28,"dew_point":46.22,"uvi":0,"clouds":91,"visibility":10000,"wind_speed":4,"wind_deg":184,"wind_gust":10,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1655085600,"precipitation":0},{"dt":1655085660,"precipitation":0},{"dt":1655085720,"precipitation":0},{"dt":1655085780,"precipitation":0},{"dt":1655085840,"precipitation":0},{"dt":1655085900,"precipitation":0},{"dt":1655085960,"precipitation":0},{"dt":1655086020,"precipitation":0},{"dt":1655086080,"precipitation":0},{"dt":1655086140,"precipitation":0},{"dt":1655086200,"precipitation":0},{"dt":1655086260,"precipitation":0},{"dt":1655086320,"precipitation":0},{"dt":1655086380,"precipitation":0},{"dt":1655086440,"precipitati[...]
