---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=OEAALh9btOyDp5UyrRY5Lk6qdsJMZaXq&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 13 Jun 2022 01:19:58 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=OEAALh9btOyDp5UyrRY5Lk6qdsJMZaXq&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1410586086"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=OEAALh9btOyDp5UyrRY5Lk6qdsJMZaXq&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=481179115"}]}]}'
  recorded_at: Mon, 13 Jun 2022 01:19:58 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ac7dd56b297de621d02078abaf70f4c1&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655083162,"sunrise":1655033490,"sunset":1655087299,"temp":84.81,"feels_like":82.38,"pressure":1000,"humidity":27,"dew_point":47.16,"uvi":0.39,"clouds":100,"visibility":10000,"wind_speed":4,"wind_deg":107,"wind_gust":8.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1655083200,"precipitation":0},{"dt":1655083260,"precipitation":0},{"dt":1655083320,"precipitation":0},{"dt":1655083380,"precipitation":0},{"dt":1655083440,"precipitation":0},{"dt":1655083500,"precipitation":0},{"dt":1655083560,"precipitation":0},{"dt":1655083620,"precipitation":0},{"dt":1655083680,"precipitation":0},{"dt":1655083740,"precipitation":0},{"dt":1655083800,"precipitation":0},{"dt":1655083860,"precipitation":0},{"dt":1655083920,"precipitation":0},{"dt":1655083980,"precipitation":0},{"dt":1655084040,"precipitati[...]
[...]
